*.gem
.bundle
.sass-cache
_site
Gemfile.lock
*.code-workspace
/.vs
/MyHomePage/obj
/MyHomePage/bin
/MyHomePage.Console/obj/MyHomePage.Console.csproj.nuget.dgspec.json
/MyHomePage.Console/obj/MyHomePage.Console.csproj.nuget.g.props
/MyHomePage.Console/obj/MyHomePage.Console.csproj.nuget.g.targets
/MyHomePage.Console/obj/project.assets.json
/MyResume/obj/MyResumeApp.csproj.nuget.dgspec.json
/MyResume/obj/MyResumeApp.csproj.nuget.g.props
/MyResume/obj/MyResumeApp.csproj.nuget.g.targets
/MyResume/obj/project.assets.json
