@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.dibzmir27r.bundle.scp.css';
@import '_content/Toolbelt.Blazor.PWA.Updater/Toolbelt.Blazor.PWA.Updater.bnjuj6nd91.bundle.scp.css';

/* /Components/MyFullPageViewer.razor.rz.scp.css */
.my-container[b-ghu2luuij7] {
    width: 100%;
}
/* /Components/MyHeaderTitle.razor.rz.scp.css */
.my-title[b-3yhbq8z951] {
    display: inline-block;
}

.my-sep[b-3yhbq8z951] {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
/* /Components/MyIcon.razor.rz.scp.css */
.my-icon[b-uy6zbefzhg] {
    fill: var(--neutral-fill-rest);
}

    .my-icon a[b-uy6zbefzhg] {
        color: var(--neutral-fill-rest);
        fill: var(--neutral-fill-rest);
    }

        .my-icon a:visited[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

        .my-icon a:link[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

        .my-icon a:active[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

[b-uy6zbefzhg] .my-icon svg {
    margin: 0;
    padding: 0;
}
/* /Components/MyImageDisplay.razor.rz.scp.css */
.my-rounded[b-jmmo5va285] {
    border-radius: 50%;
    overflow: hidden;
}

.my-image[b-jmmo5va285] {
    width: 100%;
    height: 100%;
}
/* /Components/MyPageTitle.razor.rz.scp.css */
.my-subtitle[b-ktpfcw6kxm] {
    top: -15px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}
/* /Components/MyPill.razor.rz.scp.css */
.pill[b-oknx65olgs] {
    display: inline-block;
    padding: 1px 5px;
    margin: 1px;
    background-color: #0078D4;
    color: white;
    border-radius: 8px;
    font-size: 12px;
}
/* /Components/MySection.razor.rz.scp.css */
.my-content[b-v16et6jew9] {
    padding-left: 11px;
}

    .my-content:hover[b-v16et6jew9], .my-content:active[b-v16et6jew9], .my-content:focus[b-v16et6jew9] {
        border-left: 1px solid #189bff;
        padding-left: 10px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

body[data-theme="dark"] .my-content:hover[b-v16et6jew9] {
    background-color: rgba(220, 220, 220,0.03);
}

body[data-theme="light"] .my-content:hover[b-v16et6jew9] {
    background-color: rgba(145, 145, 145,0.03);
}

.my-sub-content[b-v16et6jew9] {
    padding-left: 4px;
}

h2 .subtitle[b-v16et6jew9], h3 .subtitle[b-v16et6jew9] {
    font-size: 0.9rem;
    font-weight: 600;
}

    h2 .subtitle[b-v16et6jew9]::before, h3 .subtitle[b-v16et6jew9]::before {
        content: " - ";
    }
/* /Components/MySpacer.razor.rz.scp.css */
.my-spacer[b-f6i816mlxx] {
    display: inline-block;
}

.my-v-spacer[b-f6i816mlxx] {
    display: inline-block;
}

.my-h-spacer[b-f6i816mlxx] {
    display: block;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.my-navmenu[b-ovz5ikw0s4] {
    padding: 10px;
}

.my-body[b-ovz5ikw0s4] {
    padding: 10px;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}

.my-page[b-ovz5ikw0s4] {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.my-closemenu[b-q4iamuyrz1] {
    display: flex;
    flex-direction: row-reverse;
}
