@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.wuc5ioiakb.bundle.scp.css';
@import '_content/Toolbelt.Blazor.PWA.Updater/Toolbelt.Blazor.PWA.Updater.bnjuj6nd91.bundle.scp.css';

/* /Components/MyFullPageViewer.razor.rz.scp.css */
.my-container[b-ghu2luuij7] {
    width: 100%;
}
/* /Components/MyHeaderTitle.razor.rz.scp.css */
.my-title[b-3yhbq8z951], .main-title[b-3yhbq8z951] {
    display: inline-block;
}

.my-sep[b-3yhbq8z951] {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.page-title[b-3yhbq8z951] {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

@media screen and (max-width: 400px ) {
    .my-sep[b-3yhbq8z951] {
        display: none;
    }

    .main-title[b-3yhbq8z951] {
        display: none;
    }
}
/* /Components/MyIcon.razor.rz.scp.css */
.my-icon[b-uy6zbefzhg] {
    fill: var(--neutral-fill-rest);
    overflow: hidden;
    display: inline-block;
}

    .my-icon a[b-uy6zbefzhg] {
        color: var(--neutral-fill-rest);
        fill: var(--neutral-fill-rest);
    }

        .my-icon a:visited[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

        .my-icon a:link[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

        .my-icon a:active[b-uy6zbefzhg] {
            color: var(--neutral-fill-rest);
            fill: var(--neutral-fill-rest);
        }

[b-uy6zbefzhg] .my-icon svg {
    margin: 0;
    padding: 0;
}
/* /Components/MyImageDialog.razor.rz.scp.css */
.my-image-container[b-1ljs8g8zrd] {
    overflow: auto;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-display-image[b-1ljs8g8zrd] {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

.my-image-separator[b-1ljs8g8zrd] {
    margin: 0 0 5px 0;
}

.my-image-title[b-1ljs8g8zrd] {
    text-align: start;
}

.my-footer-content[b-1ljs8g8zrd] {
    display: block;
    width: 100%;
}
/* /Components/MyImageDisplay.razor.rz.scp.css */
.my-rounded[b-jmmo5va285] {
    border-radius: 50%;
    overflow: hidden;
}

.my-normal[b-jmmo5va285] {
    overflow: hidden;
}

.my-image[b-jmmo5va285] {
    width: 100%;
    height: 100%;
}
/* /Components/MyPageTitle.razor.rz.scp.css */
.my-subtitle[b-ktpfcw6kxm] {
    top: -15px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}
/* /Components/MyPill.razor.rz.scp.css */
.pill[b-oknx65olgs] {
    display: inline-block;
    padding: 1px 5px;
    margin: 1px;
    background-color: var(--accent-fill-rest);
    color: var(--neutral-fill-layer-rest);
    border-radius: 8px;
    font-size: 12px;
}
/* /Components/MySection.razor.rz.scp.css */
.my-content[b-v16et6jew9] {
    padding-left: 11px;
    overflow: visible;
}

    .my-content:hover[b-v16et6jew9], .my-content:active[b-v16et6jew9], .my-content:focus[b-v16et6jew9] {
        border-left: 1px solid var(--accent-fill-rest);
        padding-left: 10px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

body[data-theme="dark"] .my-content:hover[b-v16et6jew9] {
    background-color: rgba(220, 220, 220,0.03);
}

body[data-theme="light"] .my-content:hover[b-v16et6jew9] {
    background-color: rgba(145, 145, 145,0.03);
}

.my-sub-content[b-v16et6jew9] {
    padding-left: 4px;
}

h2 .subtitle[b-v16et6jew9], h3 .subtitle[b-v16et6jew9] {
    font-size: 0.9rem;
    font-weight: 600;
}

    h2 .subtitle[b-v16et6jew9]::before, h3 .subtitle[b-v16et6jew9]::before {
        content: " - ";
    }
/* /Components/MySelect.razor.rz.scp.css */
.my-label[b-s05kykmjh2] {
    margin-right: 3px;
}

.my-select[b-s05kykmjh2] {
    margin-bottom: 3px;
}
/* /Components/MySpacer.razor.rz.scp.css */
.my-spacer[b-f6i816mlxx] {
    display: inline-block;
}

.my-v-spacer[b-f6i816mlxx] {
    display: inline-block;
}

.my-h-spacer[b-f6i816mlxx] {
    display: block;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.my-body-container[b-ovz5ikw0s4] {
    padding: 5px;
    margin-top: 60px;
    min-height: 80dvh;
}

.my-body-content[b-ovz5ikw0s4] {
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    border-left: 1px solid var(--neutral-layer-3);
    border-right: 1px solid var(--neutral-layer-3);
    border-radius: 20px;
    padding: 5px 10px;
    padding-bottom: max(10px, env(safe-area-inset-bottom));
}

.my-page[b-ovz5ikw0s4] {
}

.my-navmenu-container[b-ovz5ikw0s4] {
    background: var(--neutral-fill-layer-rest);
    position: fixed;
    top: 50px;
    box-shadow: 3px 4px 15px 1px #8a8a8ab8;
    height: 100%;
    z-index: 1;
    padding: 10px;
    overflow: hidden;
}

.my-navmenu-content[b-ovz5ikw0s4] {
}

.my-navmenu-empty[b-ovz5ikw0s4] {
    height: 100%;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.my-closemenu[b-q4iamuyrz1] {
    display: flex;
    flex-direction: row-reverse;
}

.my-info[b-q4iamuyrz1] {
    margin-top: 20px;
    font-size: 0.7rem;
    text-align: center;
}
/* /Pages/NotFound.razor.rz.scp.css */
.my-spaced[b-2o2bcnyz85] {
    padding: 20px 5px;
}
/* /Pages/Options.razor.rz.scp.css */
.my-option-block[b-ijg8nfgjnk] {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* /Pages/Perso.razor.rz.scp.css */
ul.links li[b-n04puwd0ra] {
    padding: 3px;
}

span.link[b-n04puwd0ra] {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

    span.link i[b-n04puwd0ra] {
        font-size: 20px;
        min-width: 30px;
    }
