<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {% for link in site.additional_links_simple %}
          <li>
            {% include a.html href=link.url class="button button--sacnite button--round-l" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          </li>
        {% endfor %}
        {%- if site.skype_id -%}
          <li>
            <a target="_blank" href="skype:{{ site.skype_id | escape }}?chat" class="button button--sacnite button--round-l">
              <i class="fab fa-skype" title="Skype Message"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>
