::deep .sticky-header {
    position: sticky;
    top: 0;
}

.my-navmenu {
    padding: 10px;
    position: sticky;
    top: 50px;
}

.my-body {
    max-width: 1000px;
    min-width: 300px;
    border-left: 1px solid var(--neutral-layer-3);
    border-right: 1px solid var(--neutral-layer-3);
    border-radius: 20px;
    margin: 25px auto 25px auto;
    padding: 20px;
}

.my-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}
