.my-navmenu-content {
    padding: 10px;
    position: sticky;
    top: 50px;
}

.my-body-container {
    padding: 5px;
    margin-top: 60px;
}

.my-body-content {
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    border-left: 1px solid var(--neutral-layer-3);
    border-right: 1px solid var(--neutral-layer-3);
    border-radius: 20px;
    padding: 5px 10px;
    padding-bottom: max(10px, env(safe-area-inset-bottom));
}
