@inherits LayoutComponentBase

<PWAUpdater Text=@AppRessources.MainLayout_Updater_Text
            ButtonCaption=@AppRessources.MainLayout_Updater_Button />

<FluentDesignTheme @bind-Mode="@_mode"
                   OfficeColor="@_selectedOfficeColor"
                   StorageName="theme" />

<CascadingValue IsFixed="true" Value=@this>
    <div class="my-page">
        <FluentLayout>
            <FluentHeader>
                <FluentIcon Value=@References.Icons.Menu
                            Title=@ToggleMenuTitle
                            OnClick=@ToggleMenu
                            Color=@Color.Fill />

                <MySpacer />

                <MyHeaderTitle Title=@config.Title
                               PageTitle=@_pageTitle />

                <FluentSpacer />

                <HeaderMenu />

                <FluentIcon Value=@References.Icons.Theme
                            Title=@ToggleThemeTitle
                            OnClick=@ToggleTheme
                            Color=@Color.Fill />
            </FluentHeader>

            <FluentStack Orientation="Orientation.Horizontal"
                         Width="100%">
                @if (_menuVisible)
                {
                    <div class="my-navmenu">
                        <NavMenu OnItemClick=@NavMenuOnItemClick />
                    </div>
                }
                <FluentBodyContent>
                    <div class="my-body" @onclick=@BodyClick>
                        @Body
                    </div>
                </FluentBodyContent>
            </FluentStack>
        </FluentLayout>
    </div>
</CascadingValue>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />