@inherits LayoutComponentBase

<PWAUpdater Text=@AppRessources.MainLayout_Updater_Text
            ButtonCaption=@AppRessources.MainLayout_Updater_Button>
</PWAUpdater>

@if (_userOptionsInitialized)
{
    <FluentDesignTheme Mode=@_mode
                       OfficeColor=@_selectedOfficeColor />

    <CascadingValue IsFixed="true" Value=@this>
        <FluentLayout>
            <FluentHeader Class="fixed-header">
                <HeaderMenu Mode=@_mode
                            MenuVisible=@_menuVisible
                            ToggleThemeRequested=@ToggleTheme
                            ToggleMenuRequested=@ToggleMenu>
                    <MyHeaderTitle Title=@appConfig.Title
                                   PageTitle=@_pageTitle />
                </HeaderMenu>
            </FluentHeader>

            <FluentStack Orientation="Orientation.Horizontal"
                         Width="100%">
                @if (_menuVisible)
                {
                    <div class="my-navmenu-content">
                        <NavMenu OnItemClick=@NavMenuOnItemClick />
                    </div>
                }
                <FluentBodyContent Class="fluent-body-content">
                    <div class="my-body-container" @onclick=@BodyClick>
                        <div class="my-body-content">
                            @Body
                        </div>
                    </div>
                </FluentBodyContent>
            </FluentStack>

        </FluentLayout>
    </CascadingValue>

    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <FluentMessageBarProvider />
    <FluentMenuProvider />
}