<MyPageTitle Title="A propos"
             SubTitle="A propos de cette application" />

<MySection Title="A propos">
    <p>
        Cette application a été intégralement réalisée avec <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-9.0" target="_blank">Blazor WebAssembly (.NET 9)</a>.
    </p>
    <p>
        L'application est hébergée sur <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> et compilée/déployée
        avec une chaîne de déploiement de type <a href="https://docs.github.com/en/actions" target="_blank">GitHub Actions</a> personnalisée.
    </p>
</MySection>

<MySection Title="Technologies utilisées">
    <ul>
        <li>Technologie : <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-9.0" target="_blank">Blazor WebAssembly</a></li>
        <li>Langage de programmation principal : <a href="https://learn.microsoft.com/fr-fr/dotnet/csharp/" target="_blank">C#</a></li>
        <li>Autres langages : HTML, CSS, Javascript</li>
        <li>Hébergement (code et application) : <a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</MySection>

<MySection Title="Composants tiers">
    <ul>
        <li>Bibliothèque graphique : <a href="https://www.fluentui-blazor.net/" target="_blank">Microsoft FluentUI pour Blazor</a></li>
        <li>Mise à jour automatique : <a href="https://github.com/jsakamoto/Toolbelt.Blazor.PWA.Updater" target="_blank">Toolbet Blazor PWA Updater</a></li>
    </ul>
</MySection>

<MySection Title="Code source">
    <p>
        Le code source de cette application est hébergé sur un dépôt GitHub : <a href="https://github.com/cportet/cportet.github.io" target="_blank">cportet.github.io</a>.
    </p>
    <p>
        Ce code est réutilisable, sous licence <a href="https://github.com/cportet/cportet.github.io/blob/master/LICENSE" target="_blank">GNU/GPL 3.0</a>. Vous pouvez le cloner et le modifier à votre guise.
    </p>
</MySection>