<MyPageTitle Title="A propos"
             SubTitle="A propos de cette application" />

<MySection Title="A propos">
    <p>
        Cette application a été intégralement réalisée avec Blazor WebAssembly (à partir de .Net 9).
        L'application est hébergée sur GitHub Pages et compilée/déployée avec une pipeline de type GitHub Actions.
    </p>
    <p>
        Bientôt, ici, toutes les références liées au développement de cette application
        (Technologies, ressources tierces, code source, etc.)
    </p>
</MySection>