<MyPageTitle Title="Home"
             SubTitle="Bienvenue sur mon espace" />

<div class="my-article">

    <h2 id="introduction">Introduction</h2>

    <p>Bienvenue sur l'espace personnel de <strong>Cyril Portet</strong>, artisan logiciel, développeur et manager, 45 ans.</p>

    <h2 id="me-contacter">Me contacter</h2>

    <p>Vous pouvez me retrouver sur les <strong>réseaux sociaux</strong> :</p>

    <p>A titre professionnel :</p>

    <ul>
        <li><a href="https://linkedin.portet.org" target="_blank" rel="noopener">LinkedIn</a></li>
    </ul>

    <p>Mais aussi à titre personnel :</p>

    <ul>
        <li><a href="https://twitter.portet.org" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://instagram.portet.org" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="https://facebook.portet.org" target="_blank" rel="noopener">Facebook</a></li>
    </ul>

    <h2 id="mon-cv">Mon CV</h2>

    <p>Vous cherchez mon <strong><a href="file/cv">curriculum vitae</a></strong> ? Vous le trouverez sur <a href="file/cv">cette page</a>.</p>

</div>