@page "/perso"

<MyPageTitle Title="Personnel"
             SubTitle="En savoir plus sur moi" />

<MySection id="me-contacter" Title="Me contacter">
    <p>Vous pouvez me retrouver sur les <strong>réseaux sociaux</strong> :</p>
    <ul>
        <li><a href="https://twitter.portet.org" target="_blank" rel="noopener">Twitter/X</a></li>
        <li><a href="https://instagram.portet.org" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="https://facebook.portet.org" target="_blank" rel="noopener">Facebook</a></li>
    </ul>
</MySection>
