@page "/perso"

<MyPageTitle Title="Personnel"
             SubTitle="En savoir plus sur moi" />

<MySection Id="whoami" Title="Qui-suis je ?">
    <p>
        Si vous vous intéressez à ma vie professionnelle, vous trouverez toutes les informations utiles <a href="/resume">ailleurs</a>.
    </p>
    <p>
        ... Et si vous souhaitez en apprendre plus sur moi, vous ne trouverez pas forcément plus d'informations utiles ici, pour l'instant 😆
    </p>
</MySection>

<MySection id="findme" Title="Me retrouver">
    <p>Vous pouvez me retrouver sur les <strong>réseaux sociaux</strong> :</p>
    <ul>
        <li><a href="https://twitter.portet.org" target="_blank" rel="noopener">Twitter/X</a></li>
        <li><a href="https://instagram.portet.org" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="https://facebook.portet.org" target="_blank" rel="noopener">Facebook</a></li>
    </ul>
</MySection>

<MySection id="me-contacter" Title="Me contacter">
    <p>
        Si vous souhaitez entrer en contact avec moi, le meilleur moyen est de m'<a href="mailto:cyril@portet.org">écrire un courriel</a>... Ou me rejoindre sur les réseaux sociaux.
    </p>
    <p>
        <strong>Au plaisir !</strong>
    </p>
</MySection>