<MyPageTitle Title="Mon CV"
             SubTitle="Consulter mon expérience détaillée et téléchargez mon CV" />

<MySection Id="links" Title="Liens utiles">
    <p>
        Retrouvez mon profil sur LinkedIn : <a href="https://linkedin.portet.org" target="_blank" rel="noopener">LinkedIn</a>
    </p>
    <p>
        Consulter mon CV (au format PDF) : <a href="/file/cv">Mon CV</a>
    </p>
</MySection>

<MySection Id="introduction" Title="Qui suis-je ?">
    <h3>En Bref</h3>
    <p>
        Moi c'est <strong>Cyril</strong>, @(Code.DisplayHelper.AgeCyril) ans, domicilié dans le Rhône.<br />
        Je suis un homme marié et père de 3 enfants.
    </p>
    <p>
        Je travaille dans le secteur de l'informatique, et plus particulièrement du dévelopopement logiciel, depuis plus de 20 ans.
    </p>

    <h3>Mon profil professionnel</h3>

    <p>
        Artisan logiciel, développeur et manager d'expérience dans le développement logiciel.
    </p>

    <p>
        Aussi bien à l’aise en environnement <strong>Agile</strong> que sur des approches Waterfall,
        la satisfaction utilisateur et la qualité logicielle.
    </p>
    <p>
        Mon expertise se porte particulièrement sur la gestion de projet Agile (Kanban, Scrum) et le Management.<br />
        Techniquement, je suis très à l’aise avec le Web et particulièrement avec <strong>ASP.NET</strong> (<strong>MVC</strong> ou <strong>Blazor WebAssembly</strong>).
    </p>

    <p>J’ai vécu et travaillé en Picardie, Ile de France et Belgique et je suis aujourd'hui installé en région lyonnaise ou je travaille chez un éditeur logiciel.</p>

    <p>
        Mon parcours m'a fait travailler sur une variété de technologies et d'architectures, du développement client/serveur au
        développement full-stack web, avec des frameworks modernes comme .Net Core et Blazor WASM.
    </p>
    <p>
        Je possède aussi une solide expérience en gestion de projets et d'équipes, en architecture logicielle,
        et une bonne compréhension des enjeux métiers et des processus de travail.
    </p>

    <p>
        J'ai travaillé dans divers secteurs, notamment l'industrie, le service, l'administration publique, et l'édition de logiciels.
    </p>
</MySection>

<MySection Id="competences" Title="Mes compétences">
    <FluentDataGrid Items="@_competences"
                    AutoFit="true">
        <PropertyColumn Title="Domaine"
                        Property="@(p => p.Title)"
                        Sortable="true" />
        <TemplateColumn Title="Compétences"
                        Sortable="false">
            @foreach (var competence in context.Items)
            {
                <MyPill Text="@competence" />
            }
        </TemplateColumn>
    </FluentDataGrid>
</MySection>

<MySection Id="formations" Title="Formations et certifications">
    <p>
        Dernières formations et certifications :
        <ul>
            <li>Certifié <MyPill Text="Prince2 Foundation" /> et <MyPill Text="Prince2 Practioner" /> (2017)</li>
            <li>J'ai suivi la formation <MyPill Text="Direction des projets SI de l'état" /> (2016)</li>
            <li>Dans le cadre d'une mission d'intégration de solution, j'ai pu suivre la formation <MyPill Text="Administrateur de solutions Dynamics CRM" /> (2016)</li>
            <li>J'ai suivi le cursus de formation Agile <MyPill Text="Scrum Master" /> (2015)</li>
            <li>J'ai pu profiter d'une formation sur l'expérience utilisateur en <MyPill Text="UX Design" /> (2015)</li>
        </ul>
    </p>
    <p>
        J'essaye de me rendre régulièrement dans les conférences sur les nouvelles technologies et/ou les approches de développement Agile
        et orienté sur la qualité logicielle (et notamment tout ce qui est en rapport avec le Software craftmanship).
        J'ai ainsi pu me rendre à la première édition de l'événement <a href="https://www.lyon-craft.fr/" target="_blank">Lyon-Craft</a> en 2023.
    </p>

</MySection>

<MySection Id="experiences" Title="Dernières expériences">
    <h3>Simpleter</h3>
    <p>A venir...</p>

    <h3>Fiducial Informatique</h3>
    <p>A venir...</p>

    <h3>Direction générale du trésor</h3>
    <p>A venir...</p>

    <h3>Everial CRM</h3>
    <p>A venir...</p>
</MySection>

<MySection Id="cursus" Title="Etudes">
    <h3>BTS Informatique de gestion</h3>
    <p>A venir...</p>
</MySection>

<MySection Id="plus" Title="En savoir plus">
    <p>A venir...</p>
</MySection>