<MyPageTitle Title="Mon CV"
             SubTitle="Consulter mon expérience détaillée et téléchargez mon CV" />

<p>Retrouvez mon profil complet sur les réseaux sociaux :</p>
<ul>
    <li><a href="https://linkedin.portet.org" target="_blank" rel="noopener">LinkedIn</a></li>
</ul>

<p>Vous pouvez aussi consulter mon CV (au format PDF) : </p>
<ul>
    <li><a href="/file/cv">Mon CV</a></li>
</ul>