<MyPageTitle Title=@AppRessources.NotFound_PageTitle
             SubTitle=@AppRessources.NotFound_PageSubTitle />

<div role="alert">
    <h2>
        @AppRessources.NotFound_Title
    </h2>
    <p>
        @AppRessources.NotFound_Text
    </p>
</div>
<div>
    <a href="javascript:window.history.back()">@AppRessources.NotFound_Retour_Link</a>
    <span> - </span>
    <a href="/">@AppRessources.NotFound_Home_Link</a>
</div>