@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@if (_hasFile)
{
    <div id="pdfViewer">
        <object class="my-container"
                id="@_pdfContainerId"
                data="@_file"
                type="@_fileType">
            <p>
                Votre navigateur ne peut pas afficher le fichier demandé.
                <a href=@_file target="_blank">Télécharger le fichier</a>.
            </p>
        </object>
    </div>
}
else
{
    <p>Aucun fichier n'a été fourni</p>
}