<div class="page-title">
    <div class="main-title">
        @Title
    </div>

    @if (!string.IsNullOrWhiteSpace(PageTitle))
    {
        <div class="my-sep">
            /
        </div>
        <div class="my-title">
            @PageTitle
        </div>
    }
</div>