<div class=@ClassString
     style=@IconStyle
     title=@Title
     @onclick=@DivOnClickHandler>

    @if (HasHref)
    {
        <a href=@Href
           target=@Target
           title=@Title>
            @CustomIconContent
        </a>
    }
    else
    {
        @CustomIconContent
    }

</div>