@if (ImageUrl is not null)
{
    <div class=@ImageClass style="width:@Width;height:@Height;">
        <img class="my-image" src="@ImageUrl" title=@AltText alt=@AltText
             @onclick=@ImageClickHandler />
    </div>
}