@if (!string.IsNullOrWhiteSpace(Title))
{
    <PageTitle>@Title</PageTitle>
    <h1>@Title</h1>
}

@if (!string.IsNullOrWhiteSpace(SubTitle))
{
    <div class="my-subtitle">
        @SubTitle
    </div>
}