.my-content {
    padding-left: 11px;
    overflow: visible;
}

    .my-content:hover, .my-content:active, .my-content:focus {
        border-left: 1px solid var(--accent-fill-rest);
        padding-left: 10px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

body[data-theme="dark"] .my-content:hover {
    background-color: rgba(220, 220, 220,0.03);
}

body[data-theme="light"] .my-content:hover {
    background-color: rgba(145, 145, 145,0.03);
}

.my-sub-content {
    padding-left: 4px;
}

h2 .subtitle, h3 .subtitle {
    font-size: 0.9rem;
    font-weight: 600;
}

    h2 .subtitle::before, h3 .subtitle::before {
        content: " - ";
    }
