@typeparam TItem
@if (Items is not null)
{
    <div class="my-select">
        <FluentSelect Id=@Id
                      Items=@Items
                      Label=@Label
                      TOption=TItem
                      Width="200px"
                      Height="200px"
                      OptionText="@(item => FormatItem(item))"
                      OptionValue="@(item => item.SelectKey)"
                      @bind-Value=@Value
                      @bind-Value:after=@UpdateValue />
    </div>



}