@typeparam TItem
@if (Items is not null)
{
    <div class="my-select">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="my-label" for=@Id>
                @Label
            </label>
        }
        <select name=@Id
                id=@Id
                class="my-select"
                @bind=@Value
                @bind:after=@UpdateValue>
            @foreach (var item in Items)
            {
                <option value=@item.SelectKey>
                    @FormatItem(item)
                </option>
            }
        </select>
    </div>
}