@if (Orientation == Orientation.Vertical)
{
    <div class="my-v-spacer" style=@StyleString></div>
}
else if (Orientation == Orientation.Horizontal)
{
    <div class="my-h-spacer" style=@StyleString></div>
}