<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head-simple.html -%}

<body>

    {%- include header-simple.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="container intro-container">
                
                  <div class="{{ 'col-xs-12 ' }}">
                    {{content}}
                  </div>
     
              </div>
        </div>
    </main>

    {%- include footer-simple.html -%}

</body>

</html>